/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
------------------ 
Debug
------------------ 
 */
.debug .header-top{
    /* background-color: #add8e6; */
}

.debug .container-header div{
    /* background-color: #daa520; */
}

.debug .container-header{
    /* text-align: center; */
}

.debug .logo, .debug .sito, .debug .login{
    /* border: 1px dashed black; */
}

.debug .header-bottom{
    /* background-color: #00008b; */
    /* border-bottom: 2px solid #add8e6; */
}

.debug .contenuto-headbottom{
    /* height: 500px; */
    /* background-color: #ee82ee; */
    /* border: 1px dashed black; */
}

/* Debug sezioni main*/
.debug .testo, .debug .foto{
    /* height: 250px; */
    /* border: 1px dashed black; */
    /* background-color: #1e90ff; */
}

.debug .foto{
    /* background-color: #ffc0cb; */
}

.debug .sez1, 
.debug .sez3{
    background-color: white;
}

.debug .sez2,
.debug .sez4{
    background-color: #F6F6F6;
}

.debug .coda{
    /* height: 400px; */
    /* background-color: #228b22;
    /* border: 1px dashed black; */
}

/* Debug footer-top */
.debug .footer-top{
    background-color: #23272a;
}

.debug .social{
    /* background-color: #f08080; */
    /* height: 300px; */
    /* border: 1px dashed black; */
}

.debug .info{
    /* background-color: #20b2aa; */
    /* height: 300px; */
    /* border: 1px dashed black; */
}

.debug .info div{
    /* border: 1px dashed white; */
}

/* Debug footer-bottom */
.debug .footer-bottom{
    background-color: #23272a;
    border-top: 1px solid #23272a; 
}

.debug .cont-footer-bottom{
    background-color: #7fffd4;
}

.debug .logo-bottom, .debug .bottone{
    border: 1px dashed black;
    background-color: #ffb6c1;
}

/*
------------------ 
Common
------------------ 
 */
.layout {
    margin: 0 auto;
}

body{
    font-size: 14px;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    color: white;
}

.button{
    padding: 10px 12px;
    border-radius: 20px;
}

.b-white{
    background-color: #FFFFFF;
    color: black;
}

.b-black{
    background-color: #313338;
    color: white;
}

.b-blue{
    background-color: #7983F5;
    color: white;
}

.paragrafo{
    padding: 0 75px 20px;
    line-height: 20px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*
------------------ 
Header
------------------ 
 */
.header-top{
    padding-top: 10px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-header div{
    padding: 3px;
}

.container-header{
    display: flex;
    align-items: center;
    width: 70%;
}

/* Allineamenti testi header-top */
.logo{
    text-align: left;
    width: 25%;
}

.logo img{
    height: 30px;
}

.sito{
    display: flex;
    text-align: center;
    width: 50%;
    justify-content: space-around;
}

.login{
    text-align: right;
    width: 25%;
}

header a{
    color: white;
}

.header-bottom{
    padding-top: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
    
}

.contenuto-headbottom{
    width: 50%;
    margin-top: 10vh;
    text-align: center;
    margin-bottom: 10vh;
}

h1{
    font-size: 40px;
    padding-bottom: 5vh;
}

.contenuto-headbottom p{
    padding: 0 75px 20px;
    line-height: 20px;
}


/*
------------------ 
Main
------------------ 
 */
.foto{
    width: 60%;
}

.testo{
    width: 40%;
}

.cont{
    display: flex;
    width: 70%;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.cont4{
    width: 70%;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 20vh;
    
}

.foto img{
    width: 40vw;
}

.cont h2,
.cont4 h2{
    font-size: 30px;
    padding: 20px 15px;
    color: #23272A;
}

.cont p,
.cont4 p{
    padding: 5px 15px;
    line-height: 1.8vw;
    color: #23272A;
}

.coda{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont4 p{
    text-align: center;
}

.cont4 img{
    width: 50vw;
    margin: 0 auto;
}

h3{
    text-align: center;
    color: #23272A;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

/*
------------------ 
Footer
------------------ 
 */

 /* footer-top */
.footer-top{
    color: white;
    font-size: 11px;
}

.cont-footer-top{
    display: flex;
    width: 70%;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 20px;
    border-bottom: 1px solid #4f5d8c;
}

.social{
    width: 30%;
}

h4{
    color: #7289da;
    font-size: 2vw;
}

/* Bandiera italia */
.social img{
    width: 20px;
}

.lingua{
    padding-top: 10px;
    font-size: 12px;
}

.info{
    width: 70%;
    display: flex;
}

li{
    padding-bottom: 10px;
}

.titolo{
    color: #7289da;
    font-size: 13px;
}

.info div{
    width: calc(100% / 4);
}

/* footer-bottom */
.cont-footer-bottom{
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 20px;
    
}

.logo-bottom{
    padding: 3px;
}

.bottone{
    padding: 3px;
}